body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #e0f7fa, #b2ebf2); /* Light gradient background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
  }
  
  .App {
    background-color: white;
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Shadow for depth */
    border: 2px solid #1976d2; /* Blue border */
    padding: 20px;
    max-width: 800px; /* Increased width of the page */
    width: 100%;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #1976d2;
  }
  
  .name-input {
    margin-bottom: 20px;
  }
  
  .name-input-field {
    padding: 10px;
    width: calc(100% - 20px);
    border: 2px solid #1976d2;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .categories {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .category {
    cursor: pointer;
    text-align: center;
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: all 0.3s ease;
  }
  
  .category:hover {
    border-color: #1976d2;
  }
  
  .category.selected {
    border-color: #1976d2;
    background-color: #e3f2fd;
  }
  
  .category-image {
    width: 60px;
    height: 60px;
  }
  
  .handicap-question, 
  .language-selection, 
  .mother-tongue-question {
    margin: 20px 0;
    text-align: center;
  }
  
  .handicap-button, 
  .mother-tongue-button {
    background-color: white;
    border: 2px solid #1976d2;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .handicap-button:hover, 
  .mother-tongue-button:hover {
    background-color: #1976d2;
    color: white;
  }
  
  .handicap-button.selected, 
  .mother-tongue-button.selected {
    background-color: #1976d2;
    color: white;
  }
  
  .handicapped-type-dropdown,
  .language-dropdown {
    width: calc(100% - 20px);
    padding: 10px;
    border: 2px solid #1976d2;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 16px;
  }
  
  .submit-button {
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #0d47a1;
  }
  